.container{
    background-color: yellowgreen
}

.fila{
    height: 25em;
}

.pie{
    height: 15em;
}

.box{
    height: 100%;
    border: 4px solid lightgray;

}

.button{
    margin-top:2em;
    
}

.p{
    margin-top:2em;
    
}

.red{
    background-color: red;
    border-radius: 50% 50% 0% 50%
}


.green{
    background-color: green;
    border-radius: 50% 50% 50% 0%
}


.blue{
    background-color: blue;
    border-radius: 50% 0% 50% 50%
}


.yellow{
    background-color: yellow;
    border-radius: 0% 50% 50% 50%
}